html {
    /* sets background image to be fixed, centered, full-page, and proportional to original image */
    background: url("https://s3.amazonaws.com/kpomes/media/detroit/detroit6.jpg") no-repeat center center fixed;
    background-size: cover;
}
body {
    padding: 0;
    margin: 0;
    font-family: helvetica, sans-serif;
    font-size: 18px;
}
#content {
    /*Sets and centers backdrop of central pome listing*/
    width: 45%;
    margin: auto;
    padding: 0 40px 60px 40px;
    background-color: rgba(255, 255, 255, .7);
}
.pome {
    /* maintains line breaks & white-space */   
    white-space: pre-wrap;
}
h1 {
    /*Trip titles*/
    font-family: 'Arvo';
    font-size: 44px;
    font-weight: normal;
    padding: 80px 0 0 0;
}
h2 {
    /*Poem titles*/  
    font-family: 'Arvo';
    font-size: 28px;
    margin: 0;
    padding: 45px 0 0 0;
}
a {
    font-family: 'Arvo';
    text-decoration: none;
    color: black;
    font-weight: normal;
}
audio, img {
    width: 100%;
}
#map-canvas {
    height: 700px;
    width: 100%;
    margin: 0;
    padding: 0;
}
/**************************************Pertaining to the navbar*/
ul#nav {
    /*For horizontal nav*/
    list-style-type: none;
    
    width: 100%;
    padding: 0;
    margin: auto;
    font-size: 18px;
    font-family: helvetica, sans-serif;
    text-decoration: none;
    box-shadow: 0 2px 2px #606060;
}
#nav li {
    /*For horizontal nav*/
    float: left;
    
    /*Set width of navbar items to be 100% width/# of li's - left-right padding btw li's*/
    width: calc(100%/5 - 10px);
    padding: 5px;
    text-align: center;
    background-color: #FFFFFF;

    border-top: solid 1px;
    border-bottom: solid 1px;
}
#nav a {
    padding: 0;
    text-decoration: none;
    color: black;
}
